.carousel-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-brand-dark);
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light)
}

.carousel-button.next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}