.footer {
    background-color: var(--color-brand-dark);
    color: var(--color-primary-light);
    padding: 56px 0;
    background-image: url('./photo/background-footer.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    position: relative;
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./photo/background-footer.png');


            @media screen and (min-width: $bp-tablet) {
                    margin-top: 48px;
                }
            
                @media screen and (min-width: $bp-desktop) {
                    margin-top: 96px;
                }

                
    &-container {
            display: flex;
            gap: 40px;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;

            @media screen and (min-width: $bp-laptop) {
                    text-align: left;
                    display: flex;
                    gap: 186px;
                    padding: 56px;
                }
        }

        &::after {
            content: "";
            position: absolute;
            width: 280px;
            height: 172px;
            right: 0;
            bottom: 0;
            background-image: url("./photo/banki.png");
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;

            @media screen and (min-width: $bp-tablet) {
                    content: '';
                    width: 248px;
                    height: 152px;
                    background-image: url("./photo/banki.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    bottom: 0;
                    right: 0;
        }
    }
}

}



/* footer links */
.footer-link,
.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    font-style: normal;

    @media screen and (min-width: $bp-desktop) {
            text-align: start;
            font-size: 16px;
        }

    &:hover {
            color: var(--color-brand-light);
    
        }
}

.addres {
    font-size: normal;
    font-style: normal;

}

